<div class="jumbotron jumbotron-fluid a-jumbotron a-jumbotron-header a-jumbotron-dark" style="background-color: #022F51; background-image: url('{{$.Site.BaseURL}}images/jumbotron.svg')">

  <div class="container">
      <div class="row">
          <div class="col-10 offset-sm-1">
              <span class="a-jumbotron-ingress">
                <h1>Veien til en tjeneste i Altinn 3.0</h1>
                Her har vi samlet det du trenger for å utvikle digitale tjenester i Altinn 3.
              </span>
          </div>
      </div>
  </div>
</div>
